html, body {
  margin: 0; padding: 0;
  height: 100%;
  background-color: #1D1F21;
}
textarea {
  border: none;
  background-color: transparent;
  resize: none;
}
.json-diff-input {
  width: 50%;
  height: calc(100% - 48px);
  box-sizing: border-box;
  display: inline-block;
  float: left;
}

.json-diff-input .CodeMirror {
  height: 100%;
}

#header {
  height: 48px;
  background-color: #181A1B;
  color: #FFF;
  font-family: monospace;
  padding: 0 32px;
}

img {
  border: none;
  vertical-align: middle;
}

.gh-img {
  padding-top: 2px;
}

h1 {
  margin: 0; padding: 0;
  font-weight: lighter;
  text-transform: lowercase;
  padding-top: 6px;
}

.left {
  float: left;
}

.right {
  float: right;
}

#error-message {
  display: inline-block;
  position: relative;
  right: 64px;
  top: -11px;
  color: #DD4444;
}

#error-message svg {
  fill: currentColor;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


.book-ad {
  display: inline-block;
  padding-right: 8px;
}
.book-ad img {
  height: 48px;
}


