<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main"/>
		<title>Automation Reporting</title>
	</head>
	<body>


	<div style="padding:15px">
		<h1>Automation Reports</h1>
	<br>
	<g:link controller="apiRun" action="index">API Comparison Reports</g:link>
	 <br><br>
	 <g:link controller="dicrRun" action="index">Dicr Comparison Reports</g:link>

	</div>

	</body>
</html>
